.menu-inner {
    height: 100%;
}

/* removing unneeded default burger menu button */
#react-burger-menu-btn {
    display: none !important;
}

.list {
    border-bottom: 1px solid lightgrey;
    margin-block: 10px;
}

.list :hover {
    cursor: pointer;
    color: black !important;
}

#select-country {
    border: 1px solid lightgray;
    margin-top: 10px;
    /* margin-bottom: 15px; */
    width: 100%;
    height: 40px;
    border-radius: 3px;
}

@media(max-width: 990px) {
    .menu-style {
      width: 80% !important;
    }
}